html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.composum-aem-microsite-page {
    display: flex;
    flex-direction: column;
    background: #eee;
}

.composum-aem-microsite-page_data,
.composum-aem-microsite-page_preview {
    margin: 0 auto;
}

.composum-aem-microsite-page_data {
    width: 800px;
    margin-top: 70px;
    font-family: sans-serif;
    font-size: 16px;
}

.composum-aem-microsite-page_data table {
    width: 100%;
}

.composum-aem-microsite-page_data table th,
.composum-aem-microsite-page_data table td {
    padding: 4px 10px;
}

.composum-aem-microsite-page_data table th {
    padding-bottom: 1.5rem;
}

.composum-aem-microsite-page_preview {
    position: relative;
    width: 800px;
    height: 600px;
    margin-top: 20px;
}

.composum-aem-microsite-page_foreground {
    pointer-events: all;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.composum-aem-microsite-page_upload-form {
    display: flex;
    width: 100%;
}

.composum-aem-microsite-page_fileupload {
    flex-grow: 1;
}

.composum-aem-microsite-page_frame {
    position: absolute;
    width: 800px;
    height: 600px;
    border: none;
}
